dateparser==1.2.0
fastapi==0.109.0
google-api-python-client==2.116.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
groq==0.11.0
jpholiday==1.0.3
pydantic==2.5.3
python-dotenv==1.0.0
requests==2.32.3
uvicorn[standard]==0.27.0
